anyio==3.6.1
cffi==1.15.0
fastapi==0.78.0
future==0.18.2
idna==3.3
Jinja2==3.1.2
MarkupSafe==2.1.1
motor==3.0.0
numpy==1.22.3
pycparser==2.21
pydantic==1.9.0
pymongo==4.1.1
sniffio==1.2.0
starlette==0.19.1
typing_extensions==4.2.0
vosk==0.3.32
websockets==10.3
